<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/boardStyle.css}"
          href="../css/boardStyle.css" rel="stylesheet">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
    <script th:inline="javascript">
        $(document).ready(function(){
            $("#file").on('change',function(){
                let fileName ="";
                 let files = $("input[name='attachFileList']")[0].files;
                for(let i=0; i<files.length; i++) {
                    fileName += files[i].name + "\n";
                }
                fileName = fileName.substring(0, fileName.length - 1);
                $(".upload-name").val(fileName);
            });
        });


    </script>
</head>
<body>
    <div class="container">
        <div>
            <h2 class="title">게시글 쓰기</h2>
        </div>
        <div class="menu">
            <span>
                <a  th:href="@{/board}">게시판</a>
            </span>
            <span th:style="${session.loginMember.type.toString().equals('USER')}? 'display: none'">
                <a th:href="@{/manage/member}" > 회원관리</a>
            </span>
                <span>
                <a th:href="@{/member/Info/{memberId}(memberId=${session.loginMember.id})}" > 마이페이지</a>
            </span>
                <span>
                <a th:href="@{/logout}"> 로그아웃</a>
            </span>
        </div><br>
        <div class="boardForm">
            <form class="addBoard" th:object="${board}" method="post" enctype="multipart/form-data">
                <div >
                    <input type="text" class="title" th:field="*{title}" placeholder="제목을 입력하세요.">
                    <div class="field-error"  th:errors="*{title}"></div>
                </div>

                <div>
                    <textarea class="contents"  th:field="*{content}" name="contents" placeholder="내용을 입력하세요"></textarea>
                    <div class="field-error"  th:errors="*{content}"></div>
                </div>
                <div class="fileAdd">
                    <label for="file">파일등록</label>
                    <input type="file" multiple="multiple" id="file" th:field="*{attachFileList}">
                    <textarea wrap="off" class="upload-name" value="첨부파일" placeholder="첨부파일"  readonly></textarea>
                    <div class="field-error"  th:errors="*{attachFileList}"></div>
                </div>
                <div class="btn">
                    <button class="btn_e" type="submit" id="submit" >등록</button>
                    <button class="btn_d" type="button" th:onclick="|location.href='@{/board}'|" >취소</button>
                </div>
            </form>

        </div>
    </div>

<select>
<option></option>

</select>
</body>
</html>