<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/boardStyle.css}"
          href="../css/boardStyle.css" rel="stylesheet">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
    <script th:inline="javascript">

    $(document).ready(function(){
            let height = Number($(".content").css("height").replace('px', ''));
            let padding = Number($(".content").css("padding-top").replace('px', '')) +Number($(".content").css("padding-bottom").replace('px', ''));

            const DEFAULT_HEIGHT = height + padding;

        $("textarea.content").on('property-change change keyup paste input',  () => {
            let currentScrollHeight = $(this).prop('scrollHeight');
            if(currentScrollHeight > DEFAULT_HEIGHT) {
                let position = currentScrollHeight - DEFAULT_HEIGHT;
                $(this).height(position).height($(this).prop('scrollHeight')+12 );
            }
        });

        const fileInput = document.querySelector('#file');
        const fileList = document.querySelector('.fileList')
        fileInput.addEventListener('change', () => {
            console.dir(fileInput);
            const files = Array.from(fileInput.files);
            console.log(files);
            fileList.innerHTML = '';
            files.forEach(file => {
                fileList.innerHTML +=` <div id="${file.lastModified}"> ${file.name} <button type="button" data-index="${file.lastModified}" class="removeFile" >X</button></div>`;
            });
         });


        document.addEventListener('click', (e) => {
            if(e.target.className != 'removeFile') return;
            const removeTargetId = e.target.dataset.index;
            const removeTarget = document.getElementById(removeTargetId);
            const files = document.querySelector("#file").files;
            const dataTransfer = new DataTransfer();

            Array.from(files)
                .filter(file => file.lastModified != removeTargetId)
                .forEach(file => {
                    dataTransfer.items.add(file);
                });

            document.querySelector("#file").files = dataTransfer.files;

            removeTarget.remove();
            if(document.querySelector("#file").files.length == 0) {
                document.querySelector('.fileList').innerText = "첨부파일";
            }
        })
    });

    </script>
</head>
<body>
    <div class="container">
        <div>
            <h2 class="title">게시글 쓰기</h2>
        </div>
        <div class="menu">
            <span>
                <a  th:href="@{/board}">게시판</a>
            </span>
            <span th:style="${session.loginMember.type.toString().equals('USER')}? 'display: none'">
                <a th:href="@{/manage/member}" > 회원관리</a>
            </span>
                <span>
                <a th:href="@{/member/Info/{memberId}(memberId=${session.loginMember.id})}" > 마이페이지</a>
            </span>
                <span>
                <a th:href="@{/logout}"> 로그아웃</a>
            </span>
        </div><br>
        <div class="boardForm">
            <form class="addBoard" th:object="${board}" method="post"  enctype="multipart/form-data">
                <div >
                    <input type="text" class="title" th:field="*{title}" placeholder="제목을 입력하세요.">
                    <div class="field-error"  th:errors="*{title}"></div>
                </div>

                <div>
                    <textarea class="content"  th:field="*{content}" name="content" placeholder="내용을 입력하세요"></textarea>
                    <div class="field-error"  th:errors="*{content}"></div>
                </div>
                <div class="fileAdd">
                    <label for="file">파일등록</label>
                    <input type="file" multiple="multiple" id="file"  th:field="*{attachFileList}">
                    <div class="fileList upload-name"  >
                        첨부파일
                    </div>
                    <div class="field-error"  th:errors="*{attachFileList}"></div>
                </div>
                <div class="btn">
                    <button class="btn_e" type="submit" id="submit" >등록</button>
                    <button class="btn_d" type="button" th:onclick="|location.href='@{/board}'|" >취소</button>
                </div>
            </form>

        </div>
    </div>
</body>
</html>