<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/boardStyle1.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <h2 class="title">게시글 수정</h2>
    </div>
    <div class="menu">
        <span>
            <a  th:href="@{/board}">게시판</a>
        </span>
        <span th:style="${session.loginMember.type.toString().equals('USER')}? 'display: none'">
            <a th:href="@{/manage/member}" > 회원관리</a>
        </span>
        <span>
            <a th:href="@{/member/Info/{memberId}(memberId=${session.loginMember.id})}" > 마이페이지</a>
        </span>
        <span>
            <a th:href="@{/logout}"> 로그아웃</a>
        </span>
    </div><br>
    <div class="editBoardForm">
        <form class="editBoard">
            <div >
                <input type="text" class="title" name="title" placeholder="제목을 입력하세요." value="테스트 글 제목">
            </div>

            <div>
                <textarea class="contents" name="contents" placeholder="내용을 입력하세요">내용</textarea>
            </div>
            <div>
                <input type="file">
            </div>
            <div class="notice">
                <input type="checkbox" id ="notice"> <label for="notice">공지 사항</label>
                <div class="noticeInfo" hidden>
                    <input type="checkbox" id ="show"> <label for="show">보여지기</label>
                    <div>
                        <label for="showStartDt">시작일</label><input class="date" id="showStartDt" name="showStartDt" type="date">
                        <label for="showEndDt">종료일</label><input class="date" id="showEndDt" name="shoEndDt" type="date">
                    </div>
                </div>
            </div>
            <div class="btn">
                <button class="btn_e" onclick="location.href='main.html'" type="button">수정</button>
                <button class="btn_d" onclick="location.href='viewBoard.html'" type="button">취소</button>
            </div>
        </form>

    </div>
</div>
</body>
</html>