<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/boardStyle.css}"
          href="../css/boardStyle.css" rel="stylesheet">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
    <script th:inline="javascript">

        $(document).ready(function(){
            // 내용 길이 Handler
            let height = Number($(".content").css("height").replace('px', ''));
            let padding = Number($(".content").css("padding-top").replace('px', '')) +Number($(".content").css("padding-bottom").replace('px', ''));

            const DEFAULT_HEIGHT = height + padding;

            $("textarea.content").on('property-change change keyup paste input',  () => {
                let currentScrollHeight = $(this).prop('scrollHeight');
                if(currentScrollHeight > DEFAULT_HEIGHT) {
                    let position = currentScrollHeight - DEFAULT_HEIGHT;
                    $(this).height(position).height($(this).prop('scrollHeight')+12 );
                }
            });

            // 첨부 파일 Handler
            // 기존에 등록된 파일리스트
            // console.log("========파일리스트 Handler==========")
            // console.log([[${board.preFileList}]]);

        });
    </script>
</head>
<body>
<div class="container">
    <div>
        <h2 class="title">게시글 수정</h2>
    </div>
    <div class="menu">
        <span>
            <a  th:href="@{/board}">게시판</a>
        </span>
        <span th:style="${session.loginMember.type.toString().equals('USER')}? 'display: none'">
            <a th:href="@{/manage/member}" > 회원관리</a>
        </span>
        <span>
            <a th:href="@{/member/Info/{memberId}(memberId=${session.loginMember.id})}" > 마이페이지</a>
        </span>
        <span>
            <a th:href="@{/logout}"> 로그아웃</a>
        </span>
    </div><br>
    <div class="editBoardForm">
        <form class="editBoard" th:object="${board}" method="post" enctype="multipart/form-data">
            <div >
                <input type="text" class="title" placeholder="제목을 입력하세요." th:field="*{title}">
            </div>

            <div>
                <textarea class="content" placeholder="내용을 입력하세요" th:field="*{content}">내용</textarea>
            </div>
            <div class="fileAdd">
                <label for="file">파일등록</label>
                <input type="file" multiple="multiple" id="file"  th:field="*{attachFileList}">
                <div class="fileList">
                    <div th:if="*{preFileList == null}">첨부 파일</div>
                    <th:block th:if="*{preFileList != null}" th:each="preFile : *{preFileList}">
                        <div > [[${preFile.originalFilename}]] <button type="button" th:data-fileId="${preFile.id}"class="btn_remove" >×</button></div>
                    </th:block>
                </div>
                <div class="field-error"  th:errors="*{attachFileList}"></div>
            </div>
            <div class="btn">
                <button class="btn_e" id="submit" type="submit">수정 완료</button>
                <button class="btn_d" th:onclick="|location.href='@{/board/view/{boardId}(boardId=${board.id})}'|" type="button">취소</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>