<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/boardStyle.css}"
          href="../css/boardStyle.css" rel="stylesheet">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
    <script th:inline="javascript">

        $(document).ready(function(){
            // 내용 길이 Handler
            let height = Number($(".content").css("height").replace('px', ''));
            let padding = Number($(".content").css("padding-top").replace('px', '')) +Number($(".content").css("padding-bottom").replace('px', ''));

            const DEFAULT_HEIGHT = height + padding;

            $("textarea.content").on('property-change change keyup paste input',  () => {
                let currentScrollHeight = $(this).prop('scrollHeight');
                if(currentScrollHeight > DEFAULT_HEIGHT) {
                    let position = currentScrollHeight - DEFAULT_HEIGHT;
                    $(this).height(position).height($(this).prop('scrollHeight')+12 );
                }
            });


            // 첨부 파일 Handler
            // 이전에 업로드한 파일과 새로 업로드한 파일의 count 확인하기 위함
            let preFileList =new Array();
            Array.from(document.getElementsByName("preFileIdList")).forEach(file=> preFileList.push(file.value));

            const fileInput = document.querySelector('#file');
            const newFileList = document.querySelector('#newFileList');
            const defaultText = document.querySelector('#default');

            let totalFiles = new Array() ;

            // 이전 파일 목록 삭제
            document.addEventListener('click', (e) => {
                console.log(e.target.className);
                if(e.target.className != 'btn_preRemove') return;
                const removeTargetId = e.target.dataset.fileid;
                preFileList = Array.from(preFileList.filter(fileId => fileId != removeTargetId));
                const removeTarget = document.getElementById(removeTargetId);
                removeTarget.remove();
                if(fileInput.files.length == 0 && preFileList.length == 0) {
                    defaultText.innerText = '첨부파일';
                }
            });

            // 파일 등록 클릭 시 업로드한 파일 목록 저장
            document.addEventListener('click', (e) => {
                if(e.target.id != 'file') return;
                const preFiles = Array.from(fileInput.files);// 업로드한 파일 목록
                totalFiles = [];
                preFiles.forEach(file => totalFiles.push(file));
            })

            // 파일 선택하여 등록한 경우
            fileInput.addEventListener('change', () => {
                const newFiles = Array.from(fileInput.files); // 등록 시 파일을 수정할 때 새로 업로드한 파일
                const dataTransfer = new DataTransfer();

                // 새로 업로드한 파일 중 먼저 업로드한 파일과 중복이 된 파일 제외
                const addFileCount = newFiles.filter(newFile => !(totalFiles.some(file => newFile.lastModified == file.lastModified && newFile.name == file.name)))
                                             .length;

                if((addFileCount + totalFiles.length + preFileList.length)  > 5) {
                    alert("첨부 파일은 5개까지만 가능합니다.");
                } else {
                    newFiles.filter(newFile => !(totalFiles.some(file => newFile.lastModified == file.lastModified && newFile.name == file.name))).forEach(file => totalFiles.push(file));
                }

                dataTransfer.items .clear();
                totalFiles.forEach(file => dataTransfer.items.add(file));
                fileInput.files = dataTransfer.files;

                console.log(addFileCount);
                console.log(totalFiles.length);
                if(totalFiles.length == 0 && preFileList.length == 0){defaultText.innerText = "첨부파일"} else {defaultText.innerText=""};
                    newFileList.innerHTML = "";
                totalFiles.forEach(file => {
                    newFileList.innerHTML += ` <div id="${file.lastModified}"> ${file.name} <button type="button" data-index="${file.lastModified}" class="btn_remove" >×</button></div>`;
                });
            });

            // 새로 등록한 파일에 대한 삭제 Handler
            document.addEventListener('click', (e) => {
                if(e.target.className != 'btn_remove') return;
                const removeTargetId = e.target.dataset.index;
                const removeTarget = document.getElementById(removeTargetId);
                const files = fileInput.files;
                const dataTransfer = new DataTransfer();
                Array.from(files)
                    .filter(file => file.lastModified != removeTargetId)
                    .forEach(file => {
                        dataTransfer.items.add(file);
                    });
                fileInput.files = dataTransfer.files;
                removeTarget.remove();
                if(fileInput.files.length == 0 && preFileList.length == 0) {
                    defaultText.innerText = '첨부파일';
                }
            });

        });
    </script>
</head>
<body>
<div class="container">
    <div th:replace="~{fragment/topFrag :: topTitle ('게시글 수정')}"></div>
    <div th:replace="~{fragment/topFrag :: menu ('NONE')}"></div>
    <br>
    <div class="editBoardForm">
        <form class="editBoard" th:object="${board}" method="post" enctype="multipart/form-data">
            <div >
                <input type="text" class="title" placeholder="제목을 입력하세요." th:field="*{title}">
            </div>

            <div>
                <textarea class="content" placeholder="내용을 입력하세요" th:field="*{content}">내용</textarea>
            </div>
            <div class="fileAdd">
                <label for="file">파일등록</label>
                <input type="file" multiple="multiple" id="file"  th:field="*{newAttachFileList}">
                <div class="fileList">
                    <div id="default" th:text="*{preFileList.isEmpty()}? '첨부파일' : _"></div>
                    <th:block  th:if="!*{preFileList.isEmpty()}">
                        <div  id="preFileList">
                          <div th:each="preFile : *{preFileList}" th:id="${preFile.id}">[[${preFile.originalFileName}]] <button type="button" th:data-fileId="${preFile.id}"class="btn_preRemove" >×</button>
                              <input type="hidden" name="preFileIdList" th:value="${preFile.id}">
                          </div>
                        </div>
                    </th:block>
                    <div id="newFileList"> </div>
                </div>
                <div class="field-error"  th:errors="*{newAttachFileList}"></div>
            </div>
            <div class="btn">
                <button class="btn_e" id="submit" type="submit">수정 완료</button>
                <button class="btn_d" th:onclick="|location.href='@{/board/view/{boardId}(boardId=${board.id})}'|" type="button">취소</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>