<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/boardStyle.css}"
          href="../css/boardStyle.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <h2 class="title">게시판</h2>
    </div>
    <div>
        <span th:text="${session.loginMember.id}"></span>
        <span th:text="${session.loginMember.loginId}"></span>
    </div>
    <div class="menu">
        <span th:style="${session.loginMember.type.toString().equals('USER')}? 'display: none'">
            <a th:href="@{/manage/member}" > 회원관리</a>
        </span>
        <span>
            <a th:href="@{/member/Info/{memberId}(memberId=${session.loginMember.id})}" > 마이페이지</a>
        </span>
        <span>
            <a th:href="@{/logout}"> 로그아웃</a>
        </span>
    </div><br>
    <table class="board" >
        <tr class="top">
            <td class="id">번호</td>
            <td class="title">제목</td>
            <td class="loginId">작성자</td>
            <td class="createDt">작성일</td>
        </tr>
        <tr th:each="board : ${boardList}">
            <td class="id" th:text="${board.id}">1</a></td>
            <td class="title"><a th:href="@{board/view/{boardId}(boardId=${board.id})}" th:text="${board.title}" >제목</a></td>
            <td class="loginId" th:text="${board.member.loginId}">홍길동</td>
            <td class="createDt" th:text="${#temporals.format(board.createDt, 'yyyy-MM-dd hh:mm')}">2022-01-01</td>
        </tr>
    </table>
    <div class="btn">
        <button class="btn_a" onclick="location.href='addBoard.html'" type="button" th:onclick="|location.href='@{/board/add}'|">등록</button>
    </div>
</div>
</body>
</html>
