<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/boardStyle.css}"
          href="../css/boardStyle.css" rel="stylesheet">
    <title>Title</title>
</head>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/board/function/scrollHandler.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/board/dataform/findBoard.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/board/function/reqEditBoard.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/board/dataform/deleteBoard.js}"></script>
<script th:inline="javascript">
const typeOfLoginMember = [[${session.loginMember.type}]];
const idOfLoginMember = [[${session.loginMember.id}]];
let memberIdOfBoard;
const boardId = [[${boardId}]];
document.addEventListener("DOMContentLoaded", function (){
scrollHandler();
findBoard(boardId, false);
});
</script>
<body>
    <div class="container">
        <div th:replace="~{fragment/topFrag :: topTitle ('게시글')}"></div>
        <div th:replace="~{fragment/topFrag :: menu ('NONE')}"></div><br>
        <div class="viewBoardForm">
            <div class="viewBoard">
                <div class="title">
                    <div  id="title" ></div>
                </div>
                <div class="loginId">
                    <div  id="loginId"></div>
                </div>
                <div class="createDate">
                    <div  id="createDate" ></div>
                </div>
                <div class="line"></div>
                <div class="content">
<!--                    <p id="content" style="white-space: pre-wrap"></p>-->
                    <textarea id="content" readonly></textarea>
                </div>
                <div class="line"></div>
                <div class="fileList" id="fileList"></div>
                <div class="line"></div>
            </div>
            <div class="commentBox">
                <div class="commentOption">
                    <h3 class="commentTitle">댓글</h3>
                </div>
                <ul class="commentList">

                </ul>

                <div class="commentWriter">
                    <div class="commentInBox">
                        <em commentInBox_loginId></em>
                        <textarea class="commentInboxText" placeholder="댓글을 입력해주세요."></textarea>
                    </div>
                    <div class="commentAttach">
                        <a href="" class="button">취소</a>
                        <a href="" class="button">등록</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="btn">
                    <a class="btn_e" th:onclick="reqEditBoard()" type="button">수정</a>
                    <a class="btn_c" th:onclick="deleteBoard()" type="button">삭제</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>