<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/boardStyle.css}"
          href="../css/boardStyle.css" rel="stylesheet">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
    <script th:inline="javascript">
        $(document).ready(function(){
            const DEFAULT_HEIGHT =  $(".content").css("height").replace('px', '');
            let scrollHeight = $(".content").prop("scrollHeight");

            if(scrollHeight > DEFAULT_HEIGHT) {
                scrollHeight = scrollHeight + "px";
                $(".content").height(scrollHeight);
            }
        });
        const fileDownload = (fileId) => {
            // th:href="|attach/${file.id}|"
            alert("file id = " + fileId);
        }

    </script>
</head>
<body>
    <div class="container">
        <div>
            <h2 class="title">게시글</h2>
        </div>
        <div class="menu">
            <span>
                <a  th:href="@{/board}">게시판</a>
            </span>
            <span th:style="${session.loginMember.type.toString().equals('USER')}? 'display: none'">
                <a th:href="@{/manage/member}" > 회원관리</a>
            </span>
            <span>
                <a th:href="@{/member/Info/{memberId}(memberId=${session.loginMember.id})}" > 마이페이지</a>
            </span>
            <span>
                <a th:href="@{/logout}"> 로그아웃</a>
            </span>
        </div><br>
        <div class="viewBoardForm">
            <div class="viewBoard">
                <div id="title">
                    <div class="title" name="title" th:text="${board.title}">게시글 제목 테스트</div>
                </div>
                <div id="loginId">
                    <div class="loginId" name="loginId" th:text="${board.member.loginId}">admin</div>
                </div>
                <div id="createDt">
                    <div class="createDt" name="createDt" th:text="${#temporals.format(board.createDt, 'yyyy-MM-dd HH:mm:ss')}">2023-04-02 12:20</div>
                </div>
                <div class="line"></div>
                <div id="content">
                    <textarea  class="content" name="content" th:text="${board.content}" readonly></textarea>
                </div>
                <div class="line"></div>
                <div class="fileList" >
                    <div th:if="${board.attachFileList.size()} == 0">첨부 파일</div>
                    <th:block th:each="file : ${board.attachFileList}">
                        <div><a  th:onclick="fileDownload('\''+${file.id}+'\'')" th:text="${file.originalFilename}"></a></div>
                    </th:block>
                </div>
                <div class="line"></div>
            </div>

            <div class="row">
                <div class="btn">
                    <button class="btn_e" onclick="location.href='editBoard.html'" type="button">수정</button>
                    <button class="btn_c" onclick="location.href='memberInfo.html'" type="button">삭제</button>
                </div>
            </div>
        </div>

    </div>
</body>
</html>