<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/boardStyle.css}"
          href="../../static/css/boardStyle.css" rel="stylesheet">
    <title>Title</title>
</head>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/board/function/scrollHandler.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/board/dataform/findBoard.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/board/function/reqEditBoard.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/board/dataform/deleteBoard.js}"></script>
<script th:inline="javascript">
const typeOfLoginMember = [[${session.loginMember.type}]];
const idOfLoginMember = [[${session.loginMember.id}]];
const loginIdOfLoginMember = [[${session.loginMember.loginId}]];
let memberIdOfBoard;
const boardId = [[${boardId}]];
document.addEventListener("DOMContentLoaded", function (){
scrollHandler();
findBoard(boardId, false);
});

const addComment = (isFirst) => {
   const param = {
       memberId: idOfLoginMember,
       boardId: boardId,
       comment: document.getElementsByClassName("commentInBoxText")[0].value,
       parentId: isFirst? null : ""
    }
    // console.log(param);

   fetch("/api/comment/add", {
       method: "POST",
       headers: {
           "Content-Type": "application/json",
       },
       body: JSON.stringify(param)
   }).then(response => {
       if(!response.ok) {
           throw new Error("오류가 발생하였습니다.")
       }
       return response.json();
   }).then(data => {
       console.log(data);
       createRegisteredCommentHtml(data, isFirst);
   }).catch(err => alert(err));
}

const createRegisteredCommentHtml = (data, isFirst) => {
    const margin = 25;
    const commentList = document.getElementById("commentList");
    let html;
    if(isFirst) {
        const div = document.createElement("div");
        div.setAttribute("class", "comment");
        div.setAttribute("id", "comment" + data["id"]);
        div.style.marginLeft = (margin * data["level"]) + "px";


        html = `<div class="commentArea">
                    <img class="userIcon" src="/images/userIcon.png" >
                    <div class="commentBox">
                        <div class="commentBox_loginId">admin</div>
                        <div class="commentBox_comment">
                            <p><span>${data["comment"]}</span></p>
                        </div>
                        <div class="commentInfoBox">
                            <span class="commentCreateDate">${data["createdDate"]}</span>
                            <a onclick="reqAddComment(this)" data-id="${data["id"]}" data-parentid="${data["parentId"]}">답글</a>
                            <a onclick="editComment(${data["id"]})">수정</a>
                            <a onclick="deleteComment(${data["id"]})">삭제</a>
                        </div>
                    </div>
                </div>`
        div.innerHTML = html;
        document.getElementsByClassName("commentInBoxText")[0].innerText = "";
        commentList.append(div);
    }
}

const reqAddComment = (e) => {
    const parentId = e.dataset.id
    const parentTag = document.getElementById("comment"+parentId);
    const div = document.createElement("div");
    div.setAttribute("class", "commentWriter");
    div.setAttribute("id", "writer"+parentId);
    const html = `<div class="commentInBox">
                            <div><em class="commentInBoxLoginId">${loginIdOfLoginMember}</em></div>
                            <textarea class="commentInBoxText" placeholder="댓글을 입력해주세요."></textarea>
                        </div>
                        <div class="commentAttach">
                            <a onclick="reqCancelAddComment(this)" data-parentId=${parentId} = class="button">취소</a>
                            <a onclick="addComment(false)" class="button">등록</a>
                  </div>`

    div.innerHTML = html;
    parentTag.append(div);


}

const reqCancelAddComment = (e) => {
    const writerBox = document.getElementById("writer" + e.dataset.parentId);
    writerBox.remove();
}
const editComment = (e) => {


}

const deleteComment = () => {

}

</script>
<body>
    <div class="container">
        <div th:replace="~{fragment/topFrag :: topTitle ('게시글')}"></div>
        <div th:replace="~{fragment/topFrag :: menu ('NONE')}"></div><br>
        <div class="viewBoardForm">
            <div class="viewBoard">
                <div class="title">
                    <div  id="title" ></div>
                </div>
                <div class="loginId">
                    <div  id="loginId"></div>
                </div>
                <div class="createDate">
                    <div  id="createDate" ></div>
                </div>
                <div class="line"></div>
                <div class="content">
<!--                    <p id="content" style="white-space: pre-wrap"></p>-->
                    <textarea id="content" readonly></textarea>
                </div>
                <div class="line"></div>
                <div class="fileList" id="fileList"></div>


                <div class="commentsBox">
                    <div class="commentOption">
                        <h3 class="commentTitle">댓글</h3>
                    </div>
                    <div class="commentList" id="commentList">
                        <div class="comment" id="comment1">
                            <div class="commentArea">
                                <img class="userIcon"th:src="@{/images/userIcon.png}">
                                <div class="commentBox">
                                    <div class="commentBox_loginId">admin</div>
                                    <div class="commentBox_comment">
                                        <p><span>testestete</span></p>
                                    </div>
                                    <div class="commentInfoBox">
                                        <span class="commentCreateDate">2023-05-15 11:06</span>
                                        <a onclick="addComment(false)" value="1">답글</a>
                                        <a onclick="editComment()" value="1">수정</a>
                                        <a onclick="deleteComment()" value="1">삭제</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment ">
                            <div class="commentArea subComment">
                                <img class="userIcon" src="/images/userIcon.png">
                                <div class="commentBox">
                                    <div class="commentBox_loginId">admin</div>
                                    <div class="commentBox_comment">
                                        <p><span>테스트 댓글</span></p>
                                    </div>
                                    <div class="commentInfoBox">
                                        <span class="commentCreateDate">2023-05-15 11:06</span>
                                        <a>답글</a>
                                        <a>수정</a>
                                        <a>삭제</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="commentWriter">
                        <div class="commentInBox">
                            <div><em class="commentInBoxLoginId" th:text="${session.loginMember.loginId}"></em></div>
                            <textarea class="commentInBoxText" placeholder="댓글을 입력해주세요."></textarea>
                        </div>
                        <div class="commentAttach">
<!--                            <a href="" class="button">취소</a>-->
                            <a onclick="addComment(true)" class="button">등록</a>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
            </div>
            <div class="row">
                <div class="btn">
                    <a class="btn_e" th:onclick="reqEditBoard()" type="button">수정</a>
                    <a class="btn_c" th:onclick="deleteBoard()" type="button">삭제</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>