<!DOCTYPE html>
<html th:replace="~{layout/layoutComplete :: notiLayout(~{::script}, ${type.equals('DELETE')}? '삭제가 완료되었습니다.':'등록이 완료되었습니다.', ~{::button})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:inline="javascript">
        history.pushState(null, null, location.href)
        window.onpopstate = function () {
            if([[${type.equals('DELETE')}]]) {
                if(alert("삭제되었거나, 없는 게시글 입니다."));
            } else {
                history.go(1);
            }
        }
    </script>
</head>
<body>
        <button id = "complete" class="btn_o" th:onclick="|location.href='@{/board?page=1}'|" type="button">확인</button>
</body>
</html>