<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/boardStyle.css}"
          href="../css/boardStyle.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div>
        <h2 class="title"> </h2>
    </div>
    <div class="menu">
    </div><br>
    <div class="complete">
    <!--        -->
        <div for="complete"> 회원 가입이 완료되었습니다.</div>
        <div class="btn">
            <button id = "complete" class="btn_o" th:onclick="|location.href='@{/login}'|" onclick="location.href='/login'" type="button">확인</button>
        </div>
    </div>
</div>
</body>
</html>