<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/boardStyle.css}"
          href="../css/boardStyle.css" rel="stylesheet">
    <script type="text/javascript" th:inline="javascript">
        const requestedPage = [[${requestedPage}]];
        const memberId = [[${memberId}]];
        const pwChange = [[${pwChange}]]
        let loginIdOfMember;
        let statusOfMember;
        let memberPassword;

    </script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/member/function/passwordEditStatusChange.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/member/dataform/findMember.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/member/dataform/editMember.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/member/function/reqEditCancel.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/global/createErrorMsgHtml.js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{fragment/topFrag :: topTitle ('회원 수정')}"></div>
    <div th:replace="~{fragment/topFrag :: menu ('NONE')}"></div><br>
    <div class="editMemberForm">
        <form class="editMember" id="form">
            <div>
                <label class="col">아이디</label>
                <input class="loginId" id="loginId" readonly>
            </div>
            <div>
                <label class="col">비밀번호</label>
                <input type="password" class="password" id="password"  style="display: none"  autocomplete="on">
                <button class="pwChangeBtn"  id="pwChangeBtn" th:type="button" th:onclick="passwordChange()">변경</button>
            </div>
            <div>
                <label class="col">이름</label>
                <input class="userName" id="userName">
            </div>
            <div>
                <label class="col">이메일</label>
                <input class="email" id="email">
            </div>
            <div class = "typeCheck">
                <label class="col">유형</label>
                <input class="readonlyType" id="type" th:if="${requestedPage == requestedPage.MEMBER}" readonly>
                <div class="radio_btn" th:if="${requestedPage == requestedPage.MANAGE}">
                    <th:block th:each="memberType : ${memberTypes}" >
                        <input type="radio" class="selectType type" name="type" th:value="${memberType.name()}" >
                        <span th:text="${memberType.name()}"></span>
                    </th:block>
                </div>
            </div>
            <div class = "statusCheck" th:if="${requestedPage == requestedPage.MANAGE}">
                <label class="col">상태</label>
                <div class="radio_btn">
                    <th:block th:each="memberStatus : ${memberStatuses}" >
                        <input type="radio" class="selectType status" name="status" th:value="${memberStatus.name()}" th:if="!${memberStatus.name().equals('DELETE')}">
                        <span  th:text="${memberStatus.name()}" th:if="!${memberStatus.name().equals('DELETE')}"></span>
                    </th:block>
                </div>
            </div>
            <div class="line"></div>
            <div class="row">
                <div class="btn">
                    <button class="btn_e" id="submit" type="button" th:onclick="editMember()" >수정</button>
                    <button class="btn_d" th:onclick="reqEditCancel()" type="button">취소</button>
                </div>
            </div>
        </form>
  </div>
</div>
</body>
</html>