<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/boardStyle.css}"
          href="../css/boardStyle.css" rel="stylesheet">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div>
        <h2 class="title">회원 가입</h2>
    </div>
    <div class="joinForm">
        <form action="/main" th:onsubmit="return vaildCheck()" th:action method="post">
            <div>
                <label for="loginId">아이디</label><br>
                <input type="text" id="loginId" name ="loginId" th:onblur="loginIdCheck()" >
                <span id="loginId_check_result"></span>
                <input type="hidden" id="idDuplicateCheck"/>
            </div>
            <div>
                <label for="password">비밀번호</label>
                <input type="password" id="password" name ="password" >
                <span id="password_check_result"></span>
            </div>
            <div>
                <label for="userName">이름</label>
                <input type="text" id="userName" name ="userName" >
                <span id="userName_check_result"></span>
            </div>
            <div>
                <label for="email">이메일</label>
                <input type="text" id="email" name ="email" >
                <span id="email_check_result"></span>
            </div>
            <div>
                <label>유형
                    <div class="radio_btn">
<!--                        <input type="radio" class ="selectType" name="selectType" value="M" > MANAGER-->
<!--                        <input type="radio" class ="selectType" name="selectType" value="U" > USER-->
                        <input type="radio" class ="selectType" name="selectType" value="M"  th:value="${T(project.springboard.domain.member.MemberType).MANAGER}"><span th:text="${T(project.springboard.domain.member.MemberType).MANAGER}"></span>
                        <input type="radio" class ="selectType" name="selectType" value="M"  th:value="${T(project.springboard.domain.member.MemberType).USER}" ><span th:text="${T(project.springboard.domain.member.MemberType).USER}"></span>
                    </div>
                    <span id="type_check_result"></span>
                </label>
            </div>
            <div class="line"></div>
            <div class="row">
                <div class="btn">
                    <button class="btn_j btn_1" id="submit" type="submit" >가입 </button>
                    <button class="btn_j btn_2"  type="button" onclick="location.href='login.html'" th:onclick="|location.href='@{/login}'|">취소</button>
                </div>
            </div>

        </form>

    </div>
</div>
</body>

<script th:inline="javascript">
    let loginIdResult;
    const loginIdCheck = () => {
        let loginId = $('#loginId').val();
        let checkResult = $('#loginId_check_result')[0];

        if(loginId.trim().length == 0 || loginId == null) {
            checkResult.style.color="red";
            checkResult.innerHTML ="아이디를 입력해주세요.";
            $("#joinBtn").prop("disabled", true);
        } else {
            $.ajax({
                type: "post",
                url: "/member/loginIdCheck",
                data: {
                    "loginId": loginId
                },
                success: function (result) {
                    if (result) {
                        checkResult.style.color="red";
                        checkResult.innerHTML = "사용가능한 아이디입니다.";
                        $("#joinBtn").prop("disabled", false);
                        console.log(loginId.trim().length);
                    } else {
                        checkResult.style.color="red";
                        checkResult.innerHTML = "이미존재하는 아이디입니다.";
                        $("#joinBtn").prop("disabled", true);
                    }
                    $("#idDuplicateCheck").val(result);
                },
                error: function () {
                    alert("Error");
                }
            });
        }
    }

    function vaildCheck()  {
        let loginId = $('#loginId').val();
        let password = $('#password').val();
        let userName = $('#userName').val();
        let email = $('#email').val();
        let selectType = $('.selectType').is(':checked');
        let idDuplicateCheck = $.parseJSON($('#idDuplicateCheck').val());
        let joinPossible = true;

        if(loginId.trim().length == 0 || loginId == null) {
            joinPossible = false;
            $("#loginId_check_result").text("아이디를 입력해주세요.");
            $("#loginId_check_result").css("color","red");
        }
        if(!idDuplicateCheck) {
            joinPossible = false;
            $("#loginId_check_result").text("이미 존재하는 아이디입니다. 다시 입력해주세요.");
            $("#loginId_check_result").css("color","red");
        }
        if(password.trim().length == 0 || password == null) {
            joinPossible = false;
            $("#password_check_result").text("비밀번호를 입력해주세요.");
            $("#password_check_result").css("color","red");
        }
        if(userName.trim().length == 0 || userName == null) {
            joinPossible = false;
            $("#userName_check_result").text("이름을 입력해주세요.");
            $("#userName_check_result").css("color","red");
        }
        if(email.trim().length == 0 || email == null) {
            joinPossible = false;
            $("#email_check_result").text("이메일 입력해주세요.");
            $("#email_check_result").css("color","red");
        }
        if(!selectType) {
            joinPossible = false;
            $("#type_check_result").text("유형을 선택해주세요.");
            $("#type_check_result").css("color","red");
        }

        return joinPossible;

    }
</script>
</html>