<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/boardStyle1.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div>
            <h2 class="title">회원 정보</h2>
        </div>
        <div class="menu">
            <span>
                <a href="../board/main.html"> 게시판</a>
            </span>
            <span>
                <a href="memberManage.html"> 회원관리</a>
            </span>
            <span>
                <a href="memberInfo.html" > 회원정보</a>
            </span>
            <span>
                <a href="login.html" > 로그아웃</a>
            </span>
        </div><br>
        <div class="editManageMemberForm">
            <form class="editManageMember" >
                <div>
                    <label class="col">아이디</label>
                    <input class="loginId" value="admin" readonly>
                </div>
                <div>
                    <label class="col">비밀번호</label>
                    <input class="password" type="password" value="admin">
                </div>
                <div>
                    <label class="col">이름</label>
                    <input class="userName" value="admin">
                </div>
                <div>
                    <label class="col">이메일</label>
                    <input class="email" value="admin">
                </div>
                <div class = "typeCheck">
                    <label class="col">유형</label>
                    <div class="radio_btn">
                        <input type="radio" class ="selectType" name="selectType" value="M" > MANAGER
                        <input type="radio" class ="selectType" name="selectType" value="U" > USER
                    </div>
                </div>
                <div class = "statusCheck">
                    <label class="col">상태</label>
                    <div class="radio_btn">
                        <input type="radio" class ="selectType" name="selectStatus" value="A" > ACTIVE
                        <input type="radio" class ="selectType" name="selectStatus" value="D" > DEACTIVE
                        <input type="radio" class ="selectType" name="selectStatus" value="S" > STANDBY
                    </div>
                </div>
                <div class="line"></div>
                <div class="row">
                    <div class="btn">
                        <button class="btn_e" onclick="location.href='memberManage.html'" type="button">수정</button>
                        <button class="btn_d" onclick="location.href='memberInfo.html'" type="button">삭제</button>
                        <button class="btn_c" onclick="location.href='memberManage.html'" type="button">취소</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>