<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/boardStyle.css}"
          href="../css/boardStyle.css" rel="stylesheet">
    <title>Title</title>
    <script th:inline="javascript">
        <!-- 변경될 시 같이 변경해줘야 하는 번거로움이 있음 -->
        const admin = "ADMIN";
        const manager = "MANAGER";
        const adminLoginId = "admin";
        let currentCheckedVal = "";

        let loginId = [[${memberInfo.loginId}]];
        document.addEventListener("DOMContentLoaded", function (){
            if (loginId ==  adminLoginId && [[${session.loginMember.loginId}]] == loginId) {
                alert("admin 계정은 유형, 상태 정보 변경 및 삭제는 불가합니다.");
            } else if(loginId == adminLoginId && [[${session.loginMember.loginId}]] != loginId) {
                changeProperties();
                alert("admin 계정 정보 수정이 불가합니다.")
            } else if([[${memberInfo.status}]] == "DELETE") {
                changeProperties();
                document.querySelectorAll(".type").forEach((box) => { box.disabled=true;});
            }

            function changeProperties() {
                document.getElementById("pwChangeBtn").disabled = true;
                document.getElementById("userName").readOnly = true;
                document.getElementById("email").readOnly = true;
                document.getElementById("pwChangeBtn").style.border = "0px";
                document.getElementById("userName").style.border = "0px";
                document.getElementById("email").style.border = "0px";
            }

            document.querySelectorAll(".type").forEach((box) => {
                if(box.checked) {
                    currentCheckedVal = box
                }
            })

            document.querySelectorAll(".type").forEach((box) => {
                box.addEventListener('change', () => {
                    let changeVal = box.value;
                    if([[${session.loginMember.type}]] === manager && changeVal === admin) {
                        alert("Manager 권한으로 Admin 권한 부여가 불가합니다.");
                        checkChange();
                    } else if([[${session.loginMember.type}]] === manager && [[${memberInfo.type}]] === admin) {
                        alert("Manager 권한으로 Admin 계정의 권한 변경이 불가합니다.");
                        checkChange();
                    }
                })
            });
        });

        function checkChange() {
            this.checked =false;
            currentCheckedVal.checked = true;
        }
        const passwordChange = () => {

            if(document.getElementById("password").style.display === "none") {
                document.getElementById("password").style.display = "inline-block";
                document.getElementById("pwChange").checked = true;
                document.getElementById("pwChangeBtn").innerText = "취소";

            } else {
                document.getElementById("password").style.display = "none";
                document.getElementById("pwChange").checked = false;
                document.getElementById("pwChangeBtn").innerText = "변경";
            }
        }
        const deleteMember = () => {
            let url =  window.location.origin + [[@{/manage/member/delete/{memberId}(memberId=${memberId})}]];
            if (loginId ==  adminLoginId) {
                alert("admin 계정은 삭제 불가합니다.");
                // $(".btn_d").prop("disabled", true);
            } else if ( [[${session.loginMember.type}]] == manager && [[${memberInfo.type}]] == admin ){
                alert("MANAGER 권한으로 ADMIN 권한의 계정 삭제는 불가합니다.")
            }else {
                if(confirm('삭제하시겠습니까?')) {
                    location.href = url;
                }
            }
        }

        const editCheck = () => {
            if ( [[${session.loginMember.type}]] === manager && [[${memberInfo.type}]] == admin ) {
                alert("MANAGER 권한으로 ADMIN 권한의 계정 정보 수정이 불가합니다.")
                return false;
            } else {
                if(loginId) {
                    document.querySelectorAll(".type").forEach((box) => { box.disabled=false;});
                }

                document.getElementById("pwChange").style.display = "hidden";
                if(!document.getElementById("pwChange").checked) {
                    document.getElementById("password").value = [[${memberInfo.password}]];
                }
                return true;
            }
        }


    </script>
</head>
<body>
    <div class="container">
        <div th:replace="~{fragment/topFrag :: topTitle ('회원 정보')}"></div>
        <div th:replace="~{fragment/topFrag :: menu ('NONE')}"></div><br>
        <div class="editManageMemberForm">
            <form class="editManageMember" th:onsubmit="return editCheck()" th:object="${memberInfo}" th:action method="post">
                <div>
                    <label class="col">아이디</label>
                    <input class="loginId" th:field="*{loginId}" readonly>
                </div>
                <div>
                    <label class="col">비밀번호</label>
                    <input type="password" class="password" id="password" th:field="*{password}" style="display: none"  autocomplete="on">
                    <button type="button" class="pwChangeBtn" id="pwChangeBtn"  th:onclick="passwordChange()">변경</button>
                    <input type="checkbox" class="pwChange" id="pwChange" th:field="*{pwChange}" th:value="*{pwChange.booleanValue()}"  style="display: none" >
                    <div class="field-error"  th:errors="*{password}"></div>
                </div>
                <div>
                    <label class="col">이름</label>
                    <input class="userName" th:field="*{userName}">
                    <div class="field-error"  th:errors="*{userName}"></div>
                </div>
                <div>
                    <label class="col">이메일</label>
                    <input class="email" th:field="*{email}">
                    <div class="field-error"  th:errors="*{email}"></div>
                </div>
                <div class = "typeCheck">
                    <label class="col">유형</label>
                    <div class="radio_btn">
                        <th:block th:each="memberType : ${memberTypes}" >
                            <input type="radio" class="selectType type"  th:field="*{type}" th:value="${memberType.name()}"  th:disabled="*{loginId.equals('admin')|| status.equals('DELETE')} ? 'disabled' " th:errorclass="field-error">
                            <span th:for="${#ids.prev('type')}" th:text="${memberType.name()}"></span>
                        </th:block>
                    </div>
                    <div class="field-error"  th:errors="*{type}"></div>
                </div>
                <div class = "statusCheck">
                    <label class="col">상태</label>
                    <div class="radio_btn">
                        <th:block th:each="memberStatus : ${memberStatuses}" >
                            <input type="radio" class="selectType status"  th:field="*{status}" th:value="${memberStatus.name()}" th:disabled="*{loginId.equals('admin')|| status.equals('DELETE')} ? 'disabled'"  th:errorclass="field-error">
                            <span th:for="${#ids.prev('status')}" th:text="${memberStatus.name()}"></span>
                        </th:block>
                    </div>
                    <div class="field-error"  th:errors="*{status}"></div>
                </div>
                <div class="line"></div>
                <div class="row">
                    <div class="btn">
                        <button class="btn_e"  id="submit" type="submit" >수정</button>
                        <button class="btn_d" th:onclick="deleteMember()"  type="button">삭제</button>
                        <button class="btn_c" th:onclick="|location.href='@{/manage/member}'|" type="button">취소</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
