<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/boardStyle.css}"
          href="../css/boardStyle.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div th:replace="~{fragment/topFrag :: topTitle ('회원 관리')}"></div>
    <div th:replace="~{fragment/topFrag :: menu ('MANAGE')}"></div><br>
    <table class="memberList">
        <tr class="top">
            <td class="loginId">로그인 아이디</td>
            <td class="userName">이름</td>
            <td class="email">이메일</td>
            <td class="type">유형</td>
            <td class="status">상태</td>
            <td class="createDt">가입날짜</td>
        </tr>
        <tr th:each="member : ${memberList}">
            <td class="loginId" name="loginId"><a th:href="@{/manage/memberInfo/{memberId}(memberId=${member.id})}"  th:text="${member.loginId}"></a></td>
            <td class="userName" name="userName" th:text="${member.userName}">test</td>
            <td class="email" name="email" th:text="${member.email}">test</td>
            <td class="type" name="type" th:text="${member.type}">test</td>
            <td class="status" name="status" th:text="${member.status}">test</td>
            <td class="createDt" name="createDt" th:text="${#temporals.format(member.createDt, 'yyyy-MM-dd')}">2022-01-01</td>
        </tr>
    </table>
</div>
</body>
</html>