<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/boardStyle.css}"
          href="../css/boardStyle.css" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
    <script th:inline="javascript">
        let pwChange = [[${memberInfo.pwChange}]]
        $(document).ready(function(){
            if (pwChange) {
                $(".password").css("display", "inline-block");
                $(".pwChange").prop("checked",true);
                $(".pwChangeBtn").prop("innerText", "취소");
            }
        });
        const passwordChange = () => {

            if($(".password").css("display") == 'none') {
                $(".password").css("display", "inline-block");
                $(".pwChange").prop("checked",true);
                $(".pwChangeBtn").prop("innerText", "취소");

            } else {
                $(".password").css("display", "none");
                $(".pwChange").prop("checked",false);
                $(".pwChangeBtn").prop("innerText", "변경");
            }
        }

        const attrChange = () => {
            $(".pwChange").css("display", "inline-block");
            if(!$(".pwChange").prop("checked")) {
                $(".password").val([[${memberInfo.password}]]);
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <div>
            <h2 class="title">회원 수정</h2>
        </div>
    <div class="menu">
        <span>
            <a  th:href="@{/board}">게시판</a>
        </span>
        <span th:style="${session.loginMember.type.toString().equals('USER')}? 'display: none'">
            <a th:href="@{/manage/member}" > 회원관리</a>
        </span>
        <span>
            <a th:href="@{/member/Info/{memberId}(memberId=${session.loginMember.id})}" > 마이페이지</a>
        </span>
        <span>
            <a th:href="@{/logout}"> 로그아웃</a>
        </span>
    </div><br>
    <div class="editMemberForm">
        <form class="editMember" th:object="${memberInfo}" th:action method="post">
            <div>
                <label class="col">아이디</label>
                <input class="loginId" th:field="*{loginId}" readonly>
            </div>
            <div>
                <label class="col">비밀번호</label>
                <input class="password" type="password" th:field="*{password}" style="display: none">
                <button class="pwChangeBtn"  th:type="button" th:onclick="passwordChange()">변경</button>
                <input type="checkbox" class="pwChange" th:field="*{pwChange}" th:value="*{pwChange.booleanValue()}"  style="display: none" >
                <div class="field-error"  th:errors="*{password}"></div>
            </div>
            <div>
                <label class="col">이름</label>
                <input class="userName" th:field="*{userName}">
                <div class="field-error"  th:errors="*{userName}"></div>
            </div>
            <div>
                <label class="col">이메일</label>
                <input class="email" th:field="*{email}">
                <div class="field-error"  th:errors="*{email}"></div>
            </div>
            <div>
                <label class="col">유형</label>
                <input class="type" th:field="*{type}" readonly>
            </div>
            <div class="line"></div>
            <div class="row">
                <div class="btn">
                    <button class="btn_e" id="submit" type="submit" th:onclick="attrChange()" >수정</button>
                    <button class="btn_d" th:onclick="|location.href='@{/member/Info/{memberId}(memberId=${session.loginMember.id})}'|" type="button">취소</button>
                </div>
            </div>
        </form>
  </div>


</div>
</body>
</html>