<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="topTitle (title)">
        <h2 class="title" th:text="${title}"></h2>
    </div>


    <div class="menu" th:fragment="menu (type)">
        <th:block th:if="${type} != 'MAIN'">
            <span>
            <a  th:href="@{/board}">게시판</a>
            </span>
        </th:block>
        <th:block th:if="${type} != 'MANAGE'">
            <span th:style="${session.loginMember.type.toString().equals('USER')}? 'display: none'">
                <a th:href="@{/manage/member}" > 회원관리</a>
            </span>
        </th:block>
        <span>
            <a th:href="@{/member/Info/{memberId}(memberId=${session.loginMember.id})}" > 마이페이지</a>
        </span>
        <span>
            <a th:href="@{/logout}"> 로그아웃</a>
        </span>
    </div>

</body>
</html>