body .container {
    width: 1000px;
    margin: 100px auto;
    /*background-color: darkviolet;*/
}

input, textarea {
    outline: none;
}

textarea {
    resize: none;
    white-space: pre-line;
}

h2.title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
    /*background-color: aliceblue;*/
}

.field-error:not(input) {
    color : #dc3545;
    font-weight: bold;
    margin : 1px 0px 1px 0px;
    text-align: left;
}

.editMember .field-error:not(input) {
    padding-left: 40px;
}



.loginForm, .joinForm, .complete{
    margin-left : 30%;
    margin-right : 30%;
    /*background-color: aqua;*/
}

a {
    text-decoration: none;
    color: black;
}

.fileList a, .commentsBox a {
    cursor : pointer;
}

.loginForm a{
    text-decoration: none;
    color: inherit;
    float: right;
    font-weight: bold;
    font-size: 16px;
    text-align: right;
}

.menu {
    float:right;
}

.menu a {
    text-decoration: none;
    color: inherit;
    margin-right: 5px;
    font-weight: bold;
    font-size: 16px;
    text-align: right;
}

.memberInfo, .editMemberForm, .boardForm, .viewBoardForm {
    border-top: 3px solid #009688;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.editMemberForm {
    text-align: left;
}
.loginForm label, .joinForm label, .memberInfo label, .editMember label{
    font-weight: bold;
    font-size: 20px;
    text-align: left
    /*text-color*/
}
.loginForm input, .joinForm input:not(.selectType) {
    width: 98%;
    height: 40px;
    margin : 5px 0px 5px 0px;
    border-radius: 6px;
    border:  2px solid lightgray;
}

.loginForm .line, .joinForm .line, table .top, .memberInfo .line, .editMember .line, .viewBoardForm .line {
    margin : 20px 0px 20px 0px;
    border-bottom:  2px solid #E0E0E0;
}
.loginForm .row, .joinForm .row{
    width: 100%;
    height: 40px;
}

.loginForm .btn .btn_l {
    width: 100%;
    height: 46px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    border:  2px solid #607D8B;
    color : white;
    background-color: #607D8B;
}

.joinForm .btn .btn_j {
    width: 48%;
    height: 46px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    color : white;
}

.joinForm .btn .btn_1 {
    margin-right: 2%;
    border:  2px solid #607D8B;
    background-color: #607D8B;
}
.joinForm .btn .btn_2 {
    background-color: #BDBDBD;
    border:  2px solid #BDBDBD;
}

table {
    /*background-color: aquamarine;*/
    width: 100%;
    border-top: 3px solid #009688;
    border-bottom: 3px solid #009688;
    border-collapse: collapse;
    text-align: center;
    margin-top: 10px;
}

table .top {
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.boardList tr td.id { width:10%; }
.boardList tr td.title {width:60%; }
.boardList tr td.loginId {width:10%;}
.boardList tr td.createDt {width:20%;}

.btn {
    margin-top: 30px;
    text-align: center;
}

.btn > .btn_a , .btn > .btn_e{
    display: inline-block;
    /*min-width: 80px;*/
    /*margin-left: 10px;*/
    width:200px;
    padding: 10px;
    border: 1px solid #00695C;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    background-color: #00695C;
}

.btn > .btn_d, .btn > .btn_c{
    display: inline-block;
    /*min-width: 80px;*/
    margin-left: 15px;
    width : 200px;
    padding: 10px;
    border: 1px solid #BDBDBD;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    background-color: #BDBDBD;

}

.memberList tr td.id {width: 9%}
.memberList tr td.loginId {width: 15%}
.memberList tr td.userName {width: 10%}
.memberList tr td.email {width: 21%}
.memberList tr td.type {width: 10%}
.memberList tr td.status {width: 10%}
.memberList tr td.createDt {width: 15%}


.memberInfo div, .editMember div {
    margin :0% 15% 0% 15%;
    /*width: 50%;*/
    /*background-color: blanchedalmond;*/
}
.memberInfo .col, .editMember .col{
    display: inline-block;
    text-align: right;
    width: 15%;
    padding-right: 20px;
    border-right: 2px solid #9E9E9E;
    /*width :60px;*/
    /*font-weight: bold;*/
    /*background-color: darkviolet;*/
}

.memberInfo input, .editMember input:not(.selectType), .pwChange{
    text-align: left;
    width: 50%;
    height: 40px;
    margin : 30px 0px 5px 15px;
    border: 0px;
    font-size: 14px;
}

 .editMember .pwChangeBtn {
    text-align: left;
     /*width: 10px;*/
    height: 40px;
    margin : 30px 0px 5px 15px;
    border: 0px;
    font-size: 14px;
    border-radius: 6px;
}

 .editMember input:not(.loginId, .readonlyType){
    border:  2px solid lightgray;
    border-radius: 6px;
}

.writeBoard, .viewBoard {
    margin : 10px 10% 0px 10%;
    /*background-color: beige;*/
}

.writeBoard input, .writeBoard textarea, .fileAdd .fileList, .viewBoard .fileList {
    width: 100%;
    text-align: left;
    border:  2px solid lightgray;
    border-radius: 2px;
}

.writeBoard input.title{
    margin: 30px 0px 0px 0px;
    height: 50px;
}
.writeBoard textarea.content{
    margin: 21px 0px 20px 0px;
    min-height: 400px;
    white-space: pre-line;
}

.viewBoard .title {
    margin: 30px 0px 10px 0px;
    height: 50px;
}
.viewBoard #title {
    margin-left: 5px;
    text-align: left;
    font-size: 2rem;
}

.viewBoard .loginId, .viewBoard .createDate {
    margin: 0px 0px 5px 0px;
    height: 20px;
}

.viewBoard #loginId, .viewBoard #createDate {
    margin-left: 5px;
    text-align: left;
    font-size: 12px;
}
.viewBoard #loginId {
    font-weight: bold;
}

.viewBoard #content {
    width: 100%;
    height: 400px;
    text-align: left;
    font-size: 16px;
    border : 0px;
    /*background-color: #146c43;*/
}

.editMember .radio_btn {
    display: inline;
    width: 50%;
    height: 40px;
    margin : 30px 0px 5px 15px;
}

.editMember .typeCheck, .editMember .statusCheck { margin-top: 30px}

.complete {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.complete .btn .btn_o {
    display: inline-block;
    width:100px;
    padding: 10px;
    border: 1px solid #00695C;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    background-color: #00695C;
}

.memberInfo .btn_p {
    /*background-color: aquamarine;*/
    display: inline-block;
    text-align: left;
    width: 50%;
    height: 40px;
    margin : 30px 0px 5px 15px;
    border: 0px;
    font-size: 14px;
}

.memberInfo .pwChangeBtn {
    text-align: left;
    height: 40px;
    font-size: 14px;
    border-radius: 6px;
    border: 0px;
}

.fileAdd {
    text-align: left;
    width: 100%;
}

.fileList {
    display: inline-block;
    height: 110px;
    vertical-align: middle;
    color: #999999;
    font-size: 12px;
}
.fileList > div {
    font-size: 12px;
    text-align: left;
    margin:3px 0px 0px 5px;
}
.fileAdd label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    /*height: 40px;*/
    margin-bottom: 12px;
}

.fileAdd input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    /*overflow: hidden;*/
    border: 0;
}

.btn_remove, .btn_preRemove {
    padding: 1px;
    width: 14px;
    height: 14px;
    align-items: stretch;
    flex-direction: column-reverse;
    justify-content: center;
}

.pageNavi {
    text-align:center;
    margin-top : 20px;
    /*font-size:0;*/
}

.paging {
    list-style: none;
    padding-left: 0px;
    display: inline-block;
}

.paging > li {
    display: inline-block;
    margin: 0px;
    float: left;

}

.paging a {
    display:block;
    float:left;
    border:1px solid #e6e6e6;
    width:28px;
    height:28px;
    line-height:28px;
    text-align:center;
    background-color:#fff;
    font-size:13px;
    color:#999999;
    text-decoration:none;
}

.paging .prev, .paging .next {
    border:1px solid #ccc;
    background:#f8f8f8 ;
    margin-left:0;
}


.paging a.active {
    background-color:#80CBC4;
    color:#fff;
    border:1px solid #80CBC4;
}

.errorImg {
    margin: auto;
    display: block;
}

.check {
    color : red;
}

.commentsBox {
    width: 100%;
    text-align: left;
    /*float: left;*/
    height: auto;
    margin-top: 20px;
    font-size: 17px;
    /*border: 3px solid #ccc;*/
}

.commentOption {
    /*background-color: #009688;*/
    border-top: 1px solid #ccc ;
    height: 30px;
}

.commentOption > h3 {
    margin : 5px 0px 0px 5px;
}

.commentList {
    margin : 5px 0px 5px 0px;
    /*background-color: aquamarine;*/
    /*border: 3px solid #ccc;*/
    list-style:none;
}

.commentWriter {
    width: 100%;
    /*background-color: blueviolet;*/
    border: 3px solid #ccc;
    text-align: left;
    border: 2px solid lightgray;
    border-radius: 2px;
    height: auto;
}

.commentInBoxLoginId {
    margin-left: 5px;
    font-weight: bold;
}

.commentInBoxText {
    width: 98%;
    margin: 3px 0px 0px 3px;
    padding: 0px;
    height: auto;
    border: none;

}

.commentAttach {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 3px;

}

.commentAttach > button{
    background-color: transparent;
    border: none;
    padding: 0px;
    font-weight: bold;
    font-size:17px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.comment  {
    /*float: left;*/
    width: 100%;
    min-height: 70px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

.commentArea {
    /*border: 2px solid red;*/
    min-height: 40px;
    /*float: left;*/
    margin-bottom: 5px;
}

.userIcon {
    float: left;
    background-size: 30px;
    width:36px;
    height:36px;
    margin-top: 5px;
    margin-left: 5px;
}

.arrowIcon {
    float: left;
    background-size: 30px;
    width:30px;
    height:30px;
    margin-top: 5px;
    margin-left: 5px;
}

.commentBox {
    display: block;
    padding-left: 50px;
}

.commentBox_loginId {
    font-weight: bold;
}
.commentBox_comment > p {
    margin:0px;
    white-space: pre-line;
}
.commentInfoBox > span, .commentInfoBox > button  {
    font-size: 12px;
    color: gray;
    background-color: transparent;
    border: none;
}

.commentInfoBox > button  {
    background-color: transparent;
    border: none;
    padding: 0px;
}
